[class*='caixa-']{
    width: 100%;
    float: left;
    min-height: 1px;
}

.caixa{
    position:relative;
    margin:15px;
}

@media screen and (min-width: 320px){
    .caixa-p-1{
        width:8.33333%;
        border: 2px solid red;
    }
} 

@media screen and (min-width: 640px){
    .caixa-m-6{
        width:50%;
        border: 2px solid blue;
    }
} 

@media screen and (min-width: 960px){
    .caixa-g-3{
        width:25%;
        border: 2px solid yellow;
    }
} 